<!-- heading -->
<div class="heading my-5">
    <h1>An Authentication System</h1>
</div>

<!-- links -->
<div class="link-container container d-flex justify-content-between my-5 w-25">
    <a class="btn btn-outline-light btn-lg" href="/user/sign-up">sign-up</a>
    
    <a class="btn btn-outline-light btn-lg" href="/user/sign-in">sign-in</a>
</div>