<!-- heading -->
<div class="heading my-5">
    <h1>Home</h1>
</div>

<!-- links -->
<div class="link-container container d-flex justify-content-between my-5 w-25">
    <a class="btn btn-outline-light btn-lg" href="/user/sign-out">Sign-Out</a>
    
    <a class="btn btn-outline-light btn-lg" href="/user/reset/<%= user._id%>">Reset password</a>
</div>